/* ProductList.css */
.product-list {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 20px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.product-id {
    background-color: purple;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.product-name {
    font-size: 1.5em;
    margin: 10px 0;
    color: black;
}

.product-price {
    color: #333;
    font-size: 1.2em;
    margin: 10px 0;
}

.product-status {
    padding: 5px 10px;
    border-radius: 5px;
    /* font-weight: bold; */
}

.product-status.in-stock {
    background-color: green;
    color: white;
}

.product-status.out-of-stock {
    background-color: red;
    color: white;
}
